
{% extends "base.html"%}
{% block head %}
<head>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
{% endblock %}
{% block content %}
<div id = 'geter_area'>
    <!--
    <div class="Getter_area_memes" id="inp_geter_area">
        <div class="create_area cre_ext"><h4>exit</h4></div>
        <textarea class="getter_area_el" id="are_v1" placeholder="Name"></textarea>

        <div class="getter_area_el padderImage">
            <input id="__Image_input" oninput="prewImage(this.files[0])" accept="image/*" type="file" placeholder="Image">
            <div id="AREA_img" style="margin-top: 10%">
                <img id="img__">
            </div>
        </div>

        <textarea class="getter_area_el are_V2"placeholder="DESCRIPT"></textarea>
        <div class="create_area clt" id="__btn_create"><h2>CREATE MEME</h2></div>
    </div>-->

</div>
<div id="body_all_memes">
    <div class="memes_action" id="_memes_actions">
        <div class="new_memes dd_imm" id="btnNmem">Create new memes</div>
        <div class="id_memes_panel dd_imm">
            <input class="search_id" id="Id_pole_search" placeholder="input Id search">
        </div>
        <button class="get_id_memes" id="_getmemes">get_id_memes</button>
    </div>
    <div class="content_area">
        <h1>MEMES</h1>
        <div class="content_area_dinamic" id="CONTENT_CARDS_AREA">
            <!--<div class="content_card">
                <p class="name">'name'</p>
                <h5>#ID</h5>
                <div class="content_">
                    <div class="bb_deso"></div>
                    <div class="content_image"></div>
                    <div class="content_descript"><p>descript</p></div>
                    <div class="bb_deso"></div>
                    <div class="content_buttons action_btn">
                        <div class="content_update"><p>update_button</p></div>
                        <div class="content_search"><p>search_button</p></div>
                        <div class="content_detele"><p>delete_button</p></div>
                    </div>
                    <div class="bb_deso"></div>
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}